.dashboard {
    justify-content: center;
    display: flex;
    margin: 1em;

  
}

form {
    justify-content: center;
}

.form-group {
    align-items: baseline !important;
}

.form-group > * {
    margin: 1em;
}

